﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Hey er gaat iets mis, raadpleeg de eventlog
    </div>
</body>
</html>
