﻿@model _2019_ADSD_C_sharp_Team08.Models.RecipeInformationModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Portfolio Item Heading -->
<h1 class="my-4">
    @Model.Title
</h1>

<!-- Portfolio Item Row -->
<div class="row">
    <div class="col-md-8">
        <img class="img-fluid" src="@Model.Image" alt="">
        <ul class="mt-4 list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Servings: @Model.Servings Time: @Model.ReadyInMinutes minutes
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Vegetarion: 
                <span class="badge @(@Model.Vegetarian == true ? "badge-success" : "badge-danger") badge-pill">
                    <i class="fas @(@Model.Vegetarian == true ? "fa-check" : "fa-times")"></i>
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Very healthy: 
                <span class="badge @(@Model.VeryHealthy == true ? "badge-success" : "badge-danger") badge-pill">
                    <i class="fas @(@Model.VeryHealthy == true ? "fa-check" : "fa-times")"></i>
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Vegan: 
                <span class="badge @(@Model.Vegan == true ? "badge-success" : "badge-danger") badge-pill">
                    <i class="fas @(@Model.Vegan == true ? "fa-check" : "fa-times")"></i>
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Cheap: 
                <span class="badge @(@Model.Cheap == true ? "badge-success" : "badge-danger") badge-pill">
                    <i class="fas @(@Model.Cheap == true ? "fa-check" : "fa-times")"></i>
                </span>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                DairyFree:
                <span class="badge @(@Model.DairyFree == true ? "badge-success" : "badge-danger") badge-pill">
                    <i class="fas @(@Model.DairyFree == true ? "fa-check" : "fa-times")"></i>
                </span>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Gluten free: 
                <span class="badge @(@Model.GlutenFree == true ? "badge-success" : "badge-danger") badge-pill">
                    <i class="fas @(@Model.GlutenFree == true ? "fa-check" : "fa-times")"></i>
                </span>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Very popular: 
                <span class="badge @(@Model.VeryPopular == true ? "badge-success" : "badge-danger") badge-pill">
                    <i class="fas @(@Model.VeryPopular == true ? "fa-check" : "fa-times")"></i>
                </span>
            </li>
        </ul>
        @Html.ActionLink("Back", "Index", "UserHasIngredients")
    </div>

    <div class="col-md-4">
        <h3 class="my-3">Instuctions</h3>
        <p>@Model.Instructions</p>
        <h3 class="my-3">Ingredients</h3>
        <ul>
            @foreach (var ingredient in @Model.ExtendedIngredients)
            {
                <li>@ingredient.Name @ingredient.Measures.Metric.Amount @ingredient.Measures.Metric.UnitLong</li>
            }
        </ul>
    </div>



</div>

