﻿@model List<_2019_ADSD_C_sharp_Team08.Models.RecipeByIngredientModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row mt-4">
     
        @foreach (var item in Model)
        {
            <div class="col-md-4 d-flex align-items-stretch mt-2">
                <div class="card align-items-stretch" style="width: 18rem;">
                    <img class="card-img-top" src="@item.Image" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        @Html.ActionLink("Details", "Details", new { id = @item.Id })
                    </div>
                </div>
            </div>
        }
    </div>