﻿@{
    ViewBag.Title = "About us, Team 8A";
}
    <div class="jumbotron mt-4">
        <h2>@ViewBag.Title.</h2>
    </div>
<p>Wij zijn team 8A. We zijn een hard werkend motiverend en goed samenwerkend team. 
    Soms gaat er wel is iets mis maar we pakken het altijd goed op en maken er het beste van.</p>


<div class="row ">
    <div  class="col-md-4 mt-4">
        <img class="img-thumbnail" src="~/App_Images/Sander.PNG" alt="Generic placeholder image">
        <h3>Sander Bootsman</h3>
        <p style="min-height:6vh;">Dit is Sander. Hij is een top programmeur en komt uit Zaandam. Hij werkt op zolder met goed bereik. En is goed in Deceit :(</p>
        <p><a class="btn btn-danger" href="#" role="button">sander.bootsman@windesheim.nl</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-md-4 mt-4">
        <img class="img-thumbnail" src="~/App_Images/Harm.PNG" alt="Generic placeholder image">
        <h3>Harm Hendrik ten Napel</h3>
        <p style="min-height:6vh;">Dit is Harm. Hij komt uit Urk. Dat zegt wel al genoeg denk k he :)</p>
        <p><a style="background-color:deeppink;" class="text-light btn" href="#" role="button">harm-hendrik.ten.napel@windesheim.nl</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-md-4 mt-4">
        <img class="img-thumbnail" src="~/App_Images/Stefan.PNG" alt="Generic placeholder image">
        <h3>Stefan Koelewijn</h3>
        <p style="min-height:6vh;">Dit is Stefan. Hij is een aanwinst voor elk team! 
        Als je hem een opdracht geeft begint hij meteen zelfs als je nog in een vergadering zit!</p>
        <p><a class="btn btn-primary text-light" role="button">stefan.koelewijn@windesheim.nl</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-md-4 mt-4">
        <img class="img-thumbnail" src="~/App_Images/Maud.PNG" alt="Generic placeholder image">
        <h3>Maud de Haas</h3>
        <p style="min-height:6vh;">Dit is Maud. Let's keep it at that.</pstyle="min-height:6vh;">
        <p><a style="background-color: #f1c41f;" class="btn text-light" role="button">maud.de.haas@windesheim.nl</a></p>
    </div><!-- /.col-lg-4 -->
</div>
<hr />
Jongens het was een top jaar! Veel samen beleeft en komen er allemaal slimmer uit!
