﻿@model _2019_ADSD_C_sharp_Team08.Models.JokeModel
@{
    ViewBag.Title = "Home Page";
    var joke = ViewData["Joke"];
    var trivia = ViewData["Trivia"];
}

<div class="jumbotron mt-4" style="background-color:#ff751a;">
    <h1 class="text-light">Welcome to Team 8A's FridgeApp</h1>
    <p class="lead text-light">@joke</p>
    <p><a href="@Url.Action("Index", "UserHasIngredients")" class="btn btn-lg bg-light">Go to fridge &raquo;</a></p>
</div>

<strong><h2>Did you know:</h2> <br /><h4>@trivia</h4></strong>
