﻿@model _2019_ADSD_C_sharp_Team08.Models.UserHasIngredient

@{
    ViewBag.Title = "Create";
}


<h2>Add ingredients to your fridge:</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Type your ingredient</h4>
    <hr />
    <label for="ingredient">Ingredient:</label>
    <input class="form-control " required type="text" name="ingredient" id="ingredient" autocomplete="off">
    <div id="divautocomplete"></div>
    <input required type="text" name="ingredient_id" id="ingredient_id" autocomplete="off" style="display:none;"><br />
    <label for="amount">Amount:</label>
    <input class="form-control" required type="text" name="amount" id="amount" autocomplete="off"><br />
    <label for="amount">Select unit:</label>
    <select class="form-control" required name="unit" id="unit">
    </select>


        <div class="mt-2">
            <input style="background-color:#ff751a;" type="submit" value="Add" class="btn" />
        </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#ingredient').keyup(function () {
            var autocompleteText = $('#ingredient').val();
            if (autocompleteText.length > 2) {
                $.ajax({
                    url: "https://api.spoonacular.com/food/ingredients/autocomplete?number=3&metaInformation=true&query=" + autocompleteText + "&apiKey=b5edc92d105a42c986acc6bda72f6d60",
                    dataType: "json",
                    type: "GET",
                    contentType: "application/json;",
                    success: function (data) {
                        var val = '<ul id="userlist">';
                        var realArray = $.makeArray(data)
                        console.log(data);
                        $.map(realArray, function (value, key) {
                            val += '<li class="tt-suggestion" id="' + value.id + '">' + value.name + '</li>'
                            $('#unit').find('option').remove();
                            $.each(value.possibleUnits,function(key, value) 
                            {
                                $('#unit').append('<option value=' + value + '>' + value + '</option>');
                            });
                        })

                       
                        val += '</ul>'
                        $('#divautocomplete').show();
                        $('#divautocomplete').html(val);
                        $('#userlist li').click(function () {
                            $('#ingredient').val($(this).text());
                            $('#ingredient_id').val($(this).attr('id'));
                            $('#divautocomplete').hide();
                        })
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
         })
        
        $(document).mouseup(function (e) {
            var closediv = $("#divautocomplete");
            if (closediv.has(e.target).length == 0) {
                closediv.hide();
            }
        });
    
    });

</script>
