﻿@model _2019_ADSD_C_sharp_Team08.Models.UserHasIngredient

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this ingredient?</h3>
<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
