﻿@model List<Tuple<_2019_ADSD_C_sharp_Team08.Models.IngredientModel, _2019_ADSD_C_sharp_Team08.Models.UserHasIngredient>>

@{
    ViewBag.Title = "Refrigerator contents";
}

    <h2 class="mt-2">@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add new items", "Create")
</p>

<ul class="list-group">
    <form action="@Url.Action("Index", "Recipe")" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        @foreach (Tuple<_2019_ADSD_C_sharp_Team08.Models.IngredientModel, _2019_ADSD_C_sharp_Team08.Models.UserHasIngredient> x in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <input value="@x.Item1.Name" class="form-check-inline" type="checkbox" id="checkbox" name="checkbox[]">
                @x.Item1.Name
                @x.Item2.amount@x.Item2.unit
                @Html.ActionLink("Delete", "Delete", new { id = @x.Item2.userHasIngredientId })
            </li>
        }

        <div class="form-actions no-color">
            <input style="background-color:#ff751a;" type="submit" value="Search recipe" class="btn text-light mt-2" /> 
        </div>
    </form>
</ul>

